[submodule "dictionary-backend"]
	path = dictionary-backend
	url = https://github.com/phanhoangminhluan/dictionary-backend
[submodule "dictionary-mobile"]
	path = dictionary-mobile
	url = https://github.com/phanhoangminhluan/dictionary-mobile
[submodule "dictionary-frontend"]
	path = dictionary-frontend
	url = https://github.com/phanhoangminhluan/dictionary-frontend
[submodule "dictionary-crawler"]
	path = dictionary-crawler
	url = https://github.com/phanhoangminhluan/dictionary-crawler
